{% extends '_base.html' %}
{% load static %}
{% block content %}
    <!-- Slider Section Start -->
	<div id="particles-bg" class="slider-area slider-five bg-color-1">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="slider-text ptb-155">
						<h1 class="font-50 mb-5">Hello, <br /> I am Erin Claudio </h1>
						<h5>I'm a software developer based in Traverse City, MI specializing in building exceptional,<br/> high-quality websites and applications.</h5>
                        <a href="#pythonmapping"><h3>Python</h3></a>
                        <a href="#wordpress"><h3>Wordpress</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- slider Section End -->
    <!-- Links Top Start -->
	<div class="blog-area blog-three light-bg section-padding">
		<div class="container">
			<div class="social-icon simple pull-left">
				<ul class="clearfix">
					<li><a href="https://twitter.com/ChiGreentino" target="_blank"><i class="zmdi zmdi-twitter"></i></a></li>
					<li><a href="https://www.linkedin.com/in/erin-claudio/" target="_blank"><i class="zmdi zmdi-linkedin"></i></a></li>
					<li><a href="https://github.com/ErinClaudio?tab=repositories" target="_blank"><i class="zmdi zmdi-github"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
    <!-- Links Top End -->
    <!-- About section -->
    <section id="about" data-stellar-background-ratio="0.5">
	    <div  class="blog-area blog-three light-bg section-padding">
		    <div class="container mb-minus">
			    <div class="row">
                    <div class="col-sm-6">
                        <div class="about-info">
                            <div class="section-title">
                                <h2>About</h2>
                            </div>
                            <h5>Hello! I'm Erin Claudio, a Junior developer based in Traverse City, MI who enjoys building high-quality modern  </br> websites and web apps that provide intuitive interfaces with efficient back-ends.</br>After a successful career in recreation program development, I made the career switch into software development.</h5>
                            <h5>Here are a few technologies I've been working with recently:</h5>
                            <ul>
                                <li>Python</li>
                                <li>Django & GoeDjango</li>
                                <li>HTML & CSS</li>
                                <li>Wordpress</li>
                            </ul>


                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="about-image">
                            <img src="static/assets/img/blog/Erin3.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of About section -->
    <!-- Experience Section -->
   <section id="experience" data-stellar-background-ratio="0.5">
       <div  class="blog-area blog-three light-bg section-padding">
           <div class="container mb-minus">
               <div class="row">
                   <div class="col-sm-6">
                       <div class="about-info">
                           <div class="section-title">
                               <h2>Experience</h2>
                           </div>
                           <h5>I Recently Started Remote Contract For The Chicago-Based WordPress Firm <a href="https://edesignchicago.com/"> Edesign Chicago </a> Chicago, Where I Help To Maintain An E-Commerce Storefront.<br/> I have been studying under <a href="https://www.linkedin.com/in/keithekelly/" target="_blank"> Keith Kelly</a> as part of the <a href="https://tccodes.org/#about" target="_blank"> tccodes </a> learn to code project </h5>
                       </div>
                   </div>
                   <!--div class="col-md-6 col-sm-12">
                       <div class="about-image">
                           <img src="static/assets/img/blog/4.jpg" class="img-responsive" alt="">
                       </div>
                   </div-->
               </div>
           </div>
       </div>
   </section>
	<!-- end of experience section -->
    <!-- portfolio section -->
	<section id="pythonmapping" data-stellar-background-ratio="0.5">
	    <div  class="blog-area blog-three light-bg section-padding">
		    <div class="container mb-minus">
			    <div class="row">
                    <div class="col-sm-6">
                        <div class="about-info">
                            <div class="section-title">
                                <a href="signup/"><h2>Secret page</h2></a>
                            </div>
                            <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis debitis earum libero neque omnis quaerat repudiandae. Deleniti dolores error fugit iste laborum magnam molestias pariatur rem repellendus soluta temporibus, totam?<br/></h5>
                            <ul>
                                <li>?????             ?????</li>
                                <li>?????             ?????</li>
                                <li>?????              ?????</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="about-image">
                            <img src="static/assets/img/blog/map4.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   <!-- Weather app -->
<section id="portfolio" data-stellar-background-ratio="0.5">
	    <div  class="blog-area blog-three light-bg section-padding">
		    <div class="container mb-minus">
			    <div class="row">
                    <div class="col-sm-6">
                        <div class="about-info">
                            <div class="section-title">
                                <a href="weather/"><h2>Python API weather</h2></a>
                            </div>
                            <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis debitis earum libero neque omnis quaerat repudiandae. Deleniti dolores error fugit iste laborum magnam molestias pariatur rem repellendus soluta temporibus, totam?<br/></h5>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="about-image">
                            <img src="static/assets/img/blog/map4.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- twitter bot -->
<section id="portfolio" data-stellar-background-ratio="0.5">
	    <div  class="blog-area blog-three light-bg section-padding">
		    <div class="container mb-minus">
			    <div class="row">
                    <div class="col-sm-6">
                        <div class="about-info">
                            <div class="section-title">
                                <a href="https://twitter.com/claudio_erin"target="_blank"> <h2>Python Twitter Bot</h2> </a>
                            </div>
                            <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis debitis earum libero neque omnis quaerat repudiandae. Deleniti dolores error fugit iste laborum magnam molestias pariatur rem repellendus soluta temporibus, totam?<br/></h5>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="about-image">
                            <img src="static/assets/img/blog/map4.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

	<!-- WORDPRESS -->
<section id="wordpress" data-stellar-background-ratio="0.5">
	    <div  class="blog-area blog-three light-bg section-padding">
		    <div class="container mb-minus">
			    <div class="row">
                    <div class="col-sm-6">
                        <div class="about-info">
                            <div class="section-title">
                               <a href="http://www.traversecitykids.com/" target="_blank"><h2>Wordpress</h2></a>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="about-image">
                            <img src="static/assets/img/blog/map4.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

 <div class="promo-area promo-one light-bg ptb-100">
		<div class="container">
			<div class="row text-center">
				<div class="col-xs-12 col-sm-8 col-md-6 col-text-center">
					<div class="promo-text">
                        <h2> Get In Touch</h2>
                        <h5> My inbox is always open. Whether for a potential project or just to say hi, I would love to Chat!</h5>
						<a id="contact" class="btn" href="mailto:erin@erinclaudio.com">Let's Talk</a>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- this is the mailgun addtion -->>
<!--
	<div class="promo-area promo-one light-bg ptb-100">
		<div class="container">
			<div class="row text-center">
				<div class="col-xs-12 col-sm-8 col-md-6 col-text-center">
					<div class="promo-text">
                        <h1>Contact Us</h1>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="form-actions">
                              <button type="submit">Send</button>
                            </div>
                        </form>
				    </div>
			    </div>
		    </div>
	    </div>
    </div>
-->
{% endblock content %}