{% extends '_base.html' %} {% load static %} {% block content %}
<!-- Slider Section Start -->
<div id="particles-bg" class="slider-area slider-five bg-color-1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="slider-text ptb-155">
                    <h1 class="font-50 mb-5">Hello, <br /> I am Erin Claudio </h1>
                    <h5>I'm a software developer based in Traverse City, MI specializing in building exceptional,<br/> high-quality websites and applications.</h5>
                    <a href="#experience">
                        <h4>Python</h4>
                    </a>
                    <a href="#wordpress">
                        <h4>Wordpress</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Section End -->
<!-- Links Top Start -->
<div class="blog-area blog-three light-bg section-padding">
    <div class="container">
        <div class="social-icon simple pull-left">
            <ul class="clearfix">
                <li><a href="https://twitter.com/ChiGreentino" target="_blank"><i class="zmdi zmdi-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/in/erin-claudio/" target="_blank"><i class="zmdi zmdi-linkedin"></i></a></li>
                <li><a href="https://github.com/ErinClaudio?tab=repositories" target="_blank"><i class="zmdi zmdi-github"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Links Top End -->
<!-- About section -->
<section id="about" data-stellar-background-ratio="0.5">
    <div class="blog-area blog-three light-bg section-padding">
        <div class="container mb-minus">
            <div class="row">
                <div class="col-sm-6">
                    <div class="about-info">
                        <div class="section-title">
                            <h2>About</h2>
                        </div>
                            <p>Hello! I'm Erin Claudio, a junior developer based in Traverse City, MI who
                            loves building high-quality websites and intuitive web apps with efficient
                            back-Ends. After after a successful career as a builder of Recreation Programs, I made the career switch into software development.
                            I look forward to speaking with you about how I can help you with your programming needs.</p>

                        <br>
                            <p>Here are a few technologies I've been working with recently:</p>

                        <ul>
                            <li>Django</li>
                            <li>HTML & CSS</li>
                            <li>Wordpress</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="about-image">
                        <img src="static/assets/img/blog/Erin3.jpg" class=".img-responsive" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of About section -->
<!-- Experience Section -->
<section id="experience" data-stellar-background-ratio="0.5">
    <div class="blog-area blog-three light-bg section-padding">
        <div class="container mb-minus">
            <div class="row justify-content-center">
                <div class="col-sm-7">
                    <div class="about-info text-center">
                        <div class="section-title">
                            <h2>Experience</h2>
                        </div>

                            <p>Recently I have Began Contract Projects for <a href="https://edesignchicago.com/"> <font color="black">Edesign Chicago</font> </a> Where I assist in Maintaining An E-Commerce storefront. Through <a href="https://www.linkedin.com/in/keithekelly/" target="_blank"> <font color="black">Keith Kelly</font></a> and the<a href="https://tccodes.org/#about" target="_blank"><font color="black"> tccodes </font></a> learn to code project.
                                I have been building Projects focused in Python, HTML, CSS. These
                                 real world experiences have allowed me the opportunity to use a portion of the skillets gained in my previous career i.e.;
                            teamwork, client communication and flexibility.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of experience section -->
<!-- portfolio section -->
<!-- mapping -->
<section id="portfolio" data-stellar-background-ratio="0.5">
    <div class="blog-area blog-three light-bg section-padding">
        <div class="container mb-minus">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="about-image">
                        <a href="https://tranquil-springs-58874.herokuapp.com/" target="_blank"><img src="static/assets/img/blog/mapdeployed.jpg" class=".img-responsive" alt=""></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="about-info">
                        <div class="section-title">
                            <a href="https://tranquil-springs-58874.herokuapp.com/" target="_blank">
                                <h2>Python mapping</h2>
                            </a>
                        </div>
                            <p>This is my first project using the GeoDjango sub-framework while implementing geolocation features in a Django application.
                                The project uses a PostgreSQL database with the PostGIS spatial extension to show six shops close to 20fathoms the home of tccodes.
                                This project is hosted in Heroku.</p>
                            <ul>
                                <li>GeoDjango &nbsp;&nbsp;&nbsp;&nbsp;PostgreSQL</li>
                                <li>PostGIS  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Heroku</li>
                                <li>Leaflet  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;QGIS</li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- python authentication -->
<section id="secret" data-stellar-background-ratio="0.5">
    <div class="blog-area blog-three light-bg section-padding">
        <div class="container mb-minus">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="about-image">
                        <a href="signup/"><img src="static/assets/img/blog/SECRET.jpg" class=".img-responsive" alt=""></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="about-info">
                        <div class="section-title">
                            <a href="signup/">
                                <h2>Python Authentication</h2>
                            </a>
                        </div>
                            <p>Sign up, Login, Logout, Password reset function with a surprise
                             this function allows for protected views from non-authenticated users.</p>
                            <p>SIGN IN AND SEE THE SECRET PAGE</p>
                            <ul>
                                <li>Django</li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Weather app -->
<section id="Weather" data-stellar-background-ratio="0.5">
    <div class="blog-area blog-three light-bg section-padding">
        <div class="container mb-minus">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="about-image">
                        <a href="weather/"><img src="static/assets/img/blog/WEATHER.jpg" class=".img-responsive" alt=""></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="about-info">
                        <div class="section-title">
                            <a href="weather/">
                                <h2>Python weather</h2>
                            </a>
                        </div>
                        <p>An application that through an API allows
                         an individual to check the current weather in any city in the world.
                        The tool also has a deletion feature and uses Icons to display current weather.</p>
                        <ul>
                            <li>Api Keys</li>
                            <li>Django</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- blog -->
<section id="blog" data-stellar-background-ratio="0.5">
    <div class="blog-area blog-three light-bg section-padding">
        <div class="container mb-minus">
            <div class="row">
                 <div class="col-md-4 col-xs-12">
                    <div class="about-image">
                        <a href="blog/"><img src="static/assets/img/blog/blog.jpg" class=".img-responsive" alt=""></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="about-info">
                        <div class="section-title">
                            <a href="blog/">
                                <h2>Python Blog</h2>
                            </a>
                        </div>
                            <p>A blog tool allowing for Create, Read, Update and deletion
                            The blog will also serve as a record of my learning process and tools and techniques for becoming an improved developer  </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- twitter bot -->
<section id="bot" data-stellar-background-ratio="0.5">
    <div class="blog-area blog-three light-bg section-padding">
        <div class="container mb-minus">
            <div class="row">
                 <div class="col-md-4 col-xs-12">
                    <div class="about-image">
                        <a href="https://twitter.com/claudio_erin" target="_blank"><img src="static/assets/img/blog/TAKE2twiiter.jpg" class=".img-responsive" alt=""></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="about-info">
                        <div class="section-title">
                            <a href="https://twitter.com/claudio_erin" target="_blank">
                                <h2>Python Bot</h2>
                            </a>
                        </div>
                        <p>A bot created using the Tweepy Python package that allows access to Twitter API. Deployed through Python Anywhere and used as a tool to promote the #learninpublic coding movement. </p>
                        <ul>
                            <li>Api Keys</li>
                            <li>Depolyed In Python Anywhere</li>
                            <li>Tweepy</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- WORDPRESS -->
<section id="wordpress" data-stellar-background-ratio="0.5">
    <div class="blog-area blog-three light-bg section-padding">
        <div class="container mb-minus">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="about-image">
                        <a href="http://www.traversecitykids.com/" target="_blank"><img src="static/assets/img/blog/TCKIDS2.jpg" class=".img-responsive" alt=""></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="about-info">
                        <div class="section-title">
                            <a href="http://www.traversecitykids.com/" target="_blank">
                                <h2>Wordpress</h2>
                            </a>
                        </div>
                        <p>A WordPress site used as a learning project. Traverse City Kids is a site designed to help parents find tips, activities outside of the home and stay at home activities for children of a variety of ages. A project to help my understanding
                            in PHP and Javascript</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="promo-area promo-one light-bg ptb-100">
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12 col-sm-8 col-md-6 col-text-center">
                <div class="promo-text">
                    <h2> Hire Me</h2>
                    <h5> My inbox is always open. Whether it is for a potential project or you want to chat about software, I would love to Chat!</h5>
                    <a id="contact" class="btn" href="mailto:erin@erinclaudio.com">Let's Talk</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- this is the mailgun addtion -->
<!--
	<div class="promo-area promo-one light-bg ptb-100">
		<div class="container">
			<div class="row text-center">
				<div class="col-xs-12 col-sm-8 col-md-6 col-text-center">
					<div class="promo-text">
                        <h1>Contact Us</h1>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="form-actions">
                              <button type="submit">Send</button>
                            </div>
                        </form>
				    </div>
			    </div>
		    </div>
	    </div>
    </div>
-->
{% endblock content %}